{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% load crispy_forms_filters %}

<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Shop List Sidebar - Organic - Food E-commerce HTML Template</title>
   <!-- favicon icon -->
   <link rel="shortcut icon" href="static/home/assets/images/icons/favicon.ico" type="image/x-icon">

   <!-- Include fontawesome cdn -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

   <!-- Include google fonts -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet">
 <!-- Include jQuery -->
 <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
   <!-- Include bootstrap CSS -->
   <link rel="stylesheet" href="{%static 'home/assets/css/bootstrap.min.css' %}">

   <!-- Include aos CSS -->
   <link rel="stylesheet" href="{%static 'home/assets/css/aos.css' %}">

   <!-- Include magnific-popup CSS -->
   <link rel="stylesheet" href="{%static 'home/assets/css/magnific-popup.css' %}">

   <!-- Include nice-select CSS -->
   <link rel="stylesheet" href="{%static 'home/assets/css/nice-select.css' %}">

   <!-- Include slick CSS -->
   <link rel="stylesheet" href="{%static 'home/assets/css/jquery-ui.css' %}">

   <!-- Include slick-theme CSS -->
   <link rel="stylesheet" href="{%static 'home/assets/css/slick-theme.css' %}">

   <!-- Include slick CSS -->
    <link rel="stylesheet" href="{%static 'home/assets/css/slick.css' %}">
   <!-- Include stylesheet CSS -->
   <link rel="stylesheet" href="{% static 'home/assets/css/styles.css' %}">
   <link rel="stylesheet" href="{% static 'home/assets/css/stylenew.css' %}">


</head>

<body>
   <!-- body wrap start -->
   <div class="body-wrap overflow-hidden">
      <!-- back-to-top start -->
      <div class="backtotop">
         <a href="#!" class="scroll">
            <i class="far fa-arrow-up fw-bold"></i>
         </a>
      </div>
      <!-- back-to-top end -->


      <!-- header section start -->
      <header class="about_header position-relative" style="background-color: #1d211e;">
         <!-- top header start -->
         <div class="top_header_main position-relative bg-dark">
            <div class="container d-none d-md-block">
               <div class="header_top d-flex align-items-center justify-content-between">
                  <div class="header_top_content d-flex pt-2">
                  </div>
               </div>
            </div>
            <!-- top header end -->

            <!-- top inner navbar start -->
            <div class="top_inner_main" style="background-color: #1d211e;">
               <div class="top_inner_wrap">
                  <div class="container">
                     <div
                        class="top_inner_content about_inner_cont d-flex justify-content-between align-items-center py-3" >
                        <div class="top_inner_logo d-flex justify-content-between align-items-center" >
                           <a class="drop_bars text-dark me-4" href="#!" data-bs-toggle="offcanvas"
                              data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"
                              aria-expanded="false" aria-label="Toggle navigation">
                              <i class="fas fa-bars" style="color: #fff;"></i>
                           </a>
                           <a href=""><h1 style="color: #fff;">GCloud</h1>
                           </a>
                        </div>
                        <div class="top_inner_searchbar about_search position-relative d-none d-lg-block">
                        </div>
                        <div class="main_search_btn3 d-block d-lg-none ms-auto me-3" data-bs-toggle="collapse"
                           data-bs-target="#main_search_collapse" aria-expanded="false"
                           aria-controls="main_search_collapse">
                        </div>

                        {% if user.is_authenticated %}
                        <div class="navbar_user me-2">
                           <div class="navbar_user_icon">
                              <ul class="list-unstyled d-flex mb-0">
                                 <li class="pe-3 position-relative">
                                    <a href="#collapseExample" data-bs-toggle="collapse" href="#collapseExample"
                                       role="button" aria-expanded="false" aria-controls="collapseExample"><i
                                          class="far fa-user" data-toggle="collapse" role="button"
                                          data-target="#use_deropdown" aria-expanded="false"
                                          aria-controls="use_deropdown"></i>
                                    </a>
                                    <!-- user profile start -->
                                    
                                    <div id="collapseExample" class="collapse_dropdown collapse">
                                       <div class="dropdown_content">
                                          <div class="profile_info clearfix">
                                             <div class="user_thumbnail">
                                                <img src="static/home/assets/images/meta/meta1.png" alt="image_not_found">
                                             </div>
                                             <div class="user_content">
                                                <h4 class="user_name"> {{ name }}</h4>
                                             </div>
                                          </div>
                                          <ul class="settings_options ul_li_block clearfix">
                                             <li><a href="{% url 'login:profile_page' %}"><i class="fas fa-user-circle"></i>
                                                   Profile</a></li>
                                             <li><a href="{% url 'login:logout' %}"><i class="fas fa-sign-out-alt"></i>
                                                   Logout</a></li>
                                          </ul>
                                       </div>
                                    </div>
                                 </li>
                                 <!-- <li class="pe-3"><a href="#!"><i class="far fa-heart"></i></a></li>
                                 <li><a href="#!"><i class="fas fa-shopping-bag position-relative"
                                          data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                          aria-controls="offcanvasRight"><span
                                             class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"></span></i></a>
                                 </li> -->
                              </ul>
                           </div>
                        </div>
                        {% else %}
                        <div class="navbar_user me-2">
                           <div class="navbar_user_icon">
                              <ul class="list-unstyled d-flex mb-0">
                                 <li class="pe-3 position-relative">
                                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#loginModal" style="text-decoration: none;color:#6c747a;background-color:#363836; display: inline-block; padding-left: 18px;padding-right: 18px;  text-align: center; line-height: 40px;">
                                       Signin
                                     </button>
                                    <!-- <a href="{% url 'login:signin' %}" style="text-decoration: none;color:#6c747a;background-color:#363836; display: inline-block; padding-left: 18px;padding-right: 18px;  text-align: center; line-height: 50px;">Sign-in</a> -->
                                    <!-- <a href="{% url 'login:signin' %}" style="text-decoration: none;color: #000;background-color: #fff;display: inline-block; width: 50px; height: 50px; border: 2px solid #000; border-radius: 50%; text-align: center; line-height: 50px;">Login </a>--->
                                 </li>
                              </ul>
                           </div>
                        </div>
                        {% endif %}
                     </div>
                     <!-- mobile menubar start -->
                     <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                        id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel" style="background-color: #1d211e;">
                        <div class="offcanvas-header">
                           <button type="button" class="btn-close mobile_menu_close text-reset"
                              data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                           <ul class="navbar-nav main_menu_list m-auto">
                              <li class="nav-item pe-4 dropdown" >
                                 <a class="nav-link active" aria-current="page" href="#" id="home_submenu" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false" >Home</a>
                              </li>
                              <li class="nav-item pe-4 dropdown">
                                 <a class="nav-link" href="#" id="shop_submenu" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">Shop</a>
                              </li>
                              <li class="nav-item pe-4 dropdown">
                                 <a class="nav-link" href="#" id="blog_submenu" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">Blog</a>
                              </li>
                              <li class="nav-item pe-4 dropdown">
                                 <a class="nav-link" href="#!">Portfolio</a>
                              </li>
                              <li class="nav-item pe-4 dropdown">
                                 <a class="nav-link" href="#" id="page_submenu" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">Pages</a>
                              </li>
                              <li class="nav-item pe-4 dropdown">
                                 <a class="nav-link" href="#" id="contact_submenu" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">Contacts</a>
                              </li>
                           </ul>
                        </div>

                     </div>
                  </div>
               </div>
            </div>
            <!-- top inner navbar end -->

            <!-- bottom header start -->
            <div class="header_bottom_main header_border position-relative d-none d-lg-block" style="background-color: #1d211e;">
               <div class="container" >
                  <nav class="navbar navbar-expand-lg navbar-dark" >
                     <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                     </button>
                     <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                        <ul class="navbar-nav navbar_4 main_menu_list after_navbar">
                           <li class="nav-item nav_item_has_child px-2 dropdown">
                              <a class="nav-link active" aria-current="page" href="#" id="home_submenu" role="button"
                                 data-bs-toggle="dropdown" aria-expanded="false">Home</a>
                           </li>
                           <li class="nav-item nav_item_has_child px-2 dropdown">
                              <a class="nav-link" href="#" id="shop_submenu" role="button" data-bs-toggle="dropdown"
                                 aria-expanded="false">Shop</a>

                           </li>
                           <li class="nav-item nav_item_has_child px-2 dropdown">
                              <a class="nav-link" href="#" id="blog_submenu" role="button" data-bs-toggle="dropdown"
                                 aria-expanded="false">Blog</a>
                           </li>
                           <li class="nav-item nav_item_has_child px-2">
                              <a class="nav-link" href="#!">Portfolio</a>
                           </li>
                           <li class="nav-item nav_item_has_child px-2 dropdown">
                              <a class="nav-link" href="#" id="page_submenu" role="button" data-bs-toggle="dropdown"
                                 aria-expanded="false">Pages</a>  
                           </li>          
                  </nav>
               </div>
            </div>
      </header>


      <div class="container-fluid">
        <div class="row" style="border-bottom: 1px solid #e4e6eb;">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="margin-top: 4%;">
                <h1>Usename</h1>
                <h4>email</h4>
                <div class="d-flex" style="margin-top: 4%;">
                    <div class="row">
                        <div class="col-md-4 btn"><p><b>Profile</b></p></div>
                        <div class="col-md-4 btn"><p>Bills</p></div>
                        <div class="col-md-4 btn"><p>Settings</p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="background-color: #fff;">
            <div class="col-md-2"></div>
            <div class="col-md-2" style="margin-top: 2%;">
                <div>
                    <ul style="list-style-type: none;border:1px solid #e4e6eb;background-color: #f0f0f0;padding: 20px;">
                        <h5>Your Details</h5>
                        <li class="btn" style="margin-top: 4%;color: green;" id="liPersonalDetails" onclick="personalDetails()">Personal Information</li>
                        <li class="btn" style="margin-top: 4%;" id="liChangePassword" onclick="changePassword()">Change Password</li>
                        <li class="btn" style="margin-top: 4%;" id="liDeleteAccount" onclick="deleteAccount()">Delete Account</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6" style="margin-top: 2%;" id="PersonalDetails">
                <div style="border: 1px solid #e4e6eb;border-bottom: none; padding: 20px;">
                     <h5 >Personal Information</h5>
                  </div>
                  <div style="border: 1px solid #e4e6eb;padding: 20px;">
                     <p>We do not sell or share your details without your permission. Find out more in our Privacy Policy.
                           Your username, email and password can be updated via your Envato Account settings.</p>
                  </div>
                  <div style="border: 1px solid #e4e6eb;padding: 20px;border-bottom: none; margin-top: 5%;">
                     Account Details
                  </div>
                  <form method="post" action="{% url 'login:profile_page' %}">
                  {% csrf_token %}
                     <div style="border: 1px solid #e4e6eb;padding: 20px;">
                        <div class="row">
                           <div class="col-md-3">
                              <label class="small mb-1" for="inputUsername">Username</label>
                           </div>
                           <div class="col-md-8" style="margin-bottom: 4%;">
                              <input class="form-control" id="inputUsername" type="text" placeholder="" value="{{name}}" name="username" readonly>
                           </div>
                           <div class="col-md-3">
                              <label for="country">Country</label><span style="color: red !important; display: inline; float: none;">*</span>      
                           </div>
                           <div class="col-md-8" style="margin-bottom: 4%;">
                              <select id="country" name="country" class="form-control">
                                 {% if country %}
                                 <option value="{{country}}">{{country}}</option>
                                 {% else %}
                                 <option value="Select Country">Select Country</option>
                                 {% endif %}
                                 <option value="Afghanistan">Afghanistan</option>
                                 <option value="Åland Islands">Åland Islands</option>
                                 <option value="Albania">Albania</option>
                                 <option value="Algeria">Algeria</option>
                                 <option value="American Samoa">American Samoa</option>
                                 <option value="Andorra">Andorra</option>
                                 <option value="Angola">Angola</option>
                                 <option value="Anguilla">Anguilla</option>
                                 <option value="Antarctica">Antarctica</option>
                                 <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                 <option value="Argentina">Argentina</option>
                                 <option value="Armenia">Armenia</option>
                                 <option value="Aruba">Aruba</option>
                                 <option value="Australia">Australia</option>
                                 <option value="Austria">Austria</option>
                                 <option value="Azerbaijan">Azerbaijan</option>
                                 <option value="Bahamas">Bahamas</option>
                                 <option value="Bahrain">Bahrain</option>
                                 <option value="Bangladesh">Bangladesh</option>
                                 <option value="Barbados">Barbados</option>
                                 <option value="Belarus">Belarus</option>
                                 <option value="Belgium">Belgium</option>
                                 <option value="Belize">Belize</option>
                                 <option value="Benin">Benin</option>
                                 <option value="Bermuda">Bermuda</option>
                                 <option value="Bhutan">Bhutan</option>
                                 <option value="Bolivia">Bolivia</option>
                                 <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                 <option value="Botswana">Botswana</option>
                                 <option value="Bouvet Island">Bouvet Island</option>
                                 <option value="Brazil">Brazil</option>
                                 <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                                 <option value="Brunei Darussalam">Brunei Darussalam</option>
                                 <option value="Bulgaria">Bulgaria</option>
                                 <option value="Burkina Faso">Burkina Faso</option>
                                 <option value="Burundi">Burundi</option>
                                 <option value="Cambodia">Cambodia</option>
                                 <option value="Cameroon">Cameroon</option>
                                 <option value="Canada">Canada</option>
                                 <option value="Cape Verde">Cape Verde</option>
                                 <option value="Cayman Islands">Cayman Islands</option>
                                 <option value="Central African Republic">Central African Republic</option>
                                 <option value="Chad">Chad</option>
                                 <option value="Chile">Chile</option>
                                 <option value="China">China</option>
                                 <option value="Christmas Island">Christmas Island</option>
                                 <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                                 <option value="Colombia">Colombia</option>
                                 <option value="Comoros">Comoros</option>
                                 <option value="Congo">Congo</option>
                                 <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
                                 <option value="Cook Islands">Cook Islands</option>
                                 <option value="Costa Rica">Costa Rica</option>
                                 <option value="Cote D'ivoire">Cote D'ivoire</option>
                                 <option value="Croatia">Croatia</option>
                                 <option value="Cuba">Cuba</option>
                                 <option value="Cyprus">Cyprus</option>
                                 <option value="Czech Republic">Czech Republic</option>
                                 <option value="Denmark">Denmark</option>
                                 <option value="Djibouti">Djibouti</option>
                                 <option value="Dominica">Dominica</option>
                                 <option value="Dominican Republic">Dominican Republic</option>
                                 <option value="Ecuador">Ecuador</option>
                                 <option value="Egypt">Egypt</option>
                                 <option value="El Salvador">El Salvador</option>
                                 <option value="Equatorial Guinea">Equatorial Guinea</option>
                                 <option value="Eritrea">Eritrea</option>
                                 <option value="Estonia">Estonia</option>
                                 <option value="Ethiopia">Ethiopia</option>
                                 <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                                 <option value="Faroe Islands">Faroe Islands</option>
                                 <option value="Fiji">Fiji</option>
                                 <option value="Finland">Finland</option>
                                 <option value="France">France</option>
                                 <option value="French Guiana">French Guiana</option>
                                 <option value="French Polynesia">French Polynesia</option>
                                 <option value="French Southern Territories">French Southern Territories</option>
                                 <option value="Gabon">Gabon</option>
                                 <option value="Gambia">Gambia</option>
                                 <option value="Georgia">Georgia</option>
                                 <option value="Germany">Germany</option>
                                 <option value="Ghana">Ghana</option>
                                 <option value="Gibraltar">Gibraltar</option>
                                 <option value="Greece">Greece</option>
                                 <option value="Greenland">Greenland</option>
                                 <option value="Grenada">Grenada</option>
                                 <option value="Guadeloupe">Guadeloupe</option>
                                 <option value="Guam">Guam</option>
                                 <option value="Guatemala">Guatemala</option>
                                 <option value="Guernsey">Guernsey</option>
                                 <option value="Guinea">Guinea</option>
                                 <option value="Guinea-bissau">Guinea-bissau</option>
                                 <option value="Guyana">Guyana</option>
                                 <option value="Haiti">Haiti</option>
                                 <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
                                 <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                                 <option value="Honduras">Honduras</option>
                                 <option value="Hong Kong">Hong Kong</option>
                                 <option value="Hungary">Hungary</option>
                                 <option value="Iceland">Iceland</option>
                                 <option value="India">India</option>
                                 <option value="Indonesia">Indonesia</option>
                                 <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
                                 <option value="Iraq">Iraq</option>
                                 <option value="Ireland">Ireland</option>
                                 <option value="Isle of Man">Isle of Man</option>
                                 <option value="Israel">Israel</option>
                                 <option value="Italy">Italy</option>
                                 <option value="Jamaica">Jamaica</option>
                                 <option value="Japan">Japan</option>
                                 <option value="Jersey">Jersey</option>
                                 <option value="Jordan">Jordan</option>
                                 <option value="Kazakhstan">Kazakhstan</option>
                                 <option value="Kenya">Kenya</option>
                                 <option value="Kiribati">Kiribati</option>
                                 <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
                                 <option value="Korea, Republic of">Korea, Republic of</option>
                                 <option value="Kuwait">Kuwait</option>
                                 <option value="Kyrgyzstan">Kyrgyzstan</option>
                                 <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                                 <option value="Latvia">Latvia</option>
                                 <option value="Lebanon">Lebanon</option>
                                 <option value="Lesotho">Lesotho</option>
                                 <option value="Liberia">Liberia</option>
                                 <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                                 <option value="Liechtenstein">Liechtenstein</option>
                                 <option value="Lithuania">Lithuania</option>
                                 <option value="Luxembourg">Luxembourg</option>
                                 <option value="Macao">Macao</option>
                                 <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
                                 <option value="Madagascar">Madagascar</option>
                                 <option value="Malawi">Malawi</option>
                                 <option value="Malaysia">Malaysia</option>
                                 <option value="Maldives">Maldives</option>
                                 <option value="Mali">Mali</option>
                                 <option value="Malta">Malta</option>
                                 <option value="Marshall Islands">Marshall Islands</option>
                                 <option value="Martinique">Martinique</option>
                                 <option value="Mauritania">Mauritania</option>
                                 <option value="Mauritius">Mauritius</option>
                                 <option value="Mayotte">Mayotte</option>
                                 <option value="Mexico">Mexico</option>
                                 <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                                 <option value="Moldova, Republic of">Moldova, Republic of</option>
                                 <option value="Monaco">Monaco</option>
                                 <option value="Mongolia">Mongolia</option>
                                 <option value="Montenegro">Montenegro</option>
                                 <option value="Montserrat">Montserrat</option>
                                 <option value="Morocco">Morocco</option>
                                 <option value="Mozambique">Mozambique</option>
                                 <option value="Myanmar">Myanmar</option>
                                 <option value="Namibia">Namibia</option>
                                 <option value="Nauru">Nauru</option>
                                 <option value="Nepal">Nepal</option>
                                 <option value="Netherlands">Netherlands</option>
                                 <option value="Netherlands Antilles">Netherlands Antilles</option>
                                 <option value="New Caledonia">New Caledonia</option>
                                 <option value="New Zealand">New Zealand</option>
                                 <option value="Nicaragua">Nicaragua</option>
                                 <option value="Niger">Niger</option>
                                 <option value="Nigeria">Nigeria</option>
                                 <option value="Niue">Niue</option>
                                 <option value="Norfolk Island">Norfolk Island</option>
                                 <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                                 <option value="Norway">Norway</option>
                                 <option value="Oman">Oman</option>
                                 <option value="Pakistan">Pakistan</option>
                                 <option value="Palau">Palau</option>
                                 <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                                 <option value="Panama">Panama</option>
                                 <option value="Papua New Guinea">Papua New Guinea</option>
                                 <option value="Paraguay">Paraguay</option>
                                 <option value="Peru">Peru</option>
                                 <option value="Philippines">Philippines</option>
                                 <option value="Pitcairn">Pitcairn</option>
                                 <option value="Poland">Poland</option>
                                 <option value="Portugal">Portugal</option>
                                 <option value="Puerto Rico">Puerto Rico</option>
                                 <option value="Qatar">Qatar</option>
                                 <option value="Reunion">Reunion</option>
                                 <option value="Romania">Romania</option>
                                 <option value="Russian Federation">Russian Federation</option>
                                 <option value="Rwanda">Rwanda</option>
                                 <option value="Saint Helena">Saint Helena</option>
                                 <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                                 <option value="Saint Lucia">Saint Lucia</option>
                                 <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                                 <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
                                 <option value="Samoa">Samoa</option>
                                 <option value="San Marino">San Marino</option>
                                 <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                                 <option value="Saudi Arabia">Saudi Arabia</option>
                                 <option value="Senegal">Senegal</option>
                                 <option value="Serbia">Serbia</option>
                                 <option value="Seychelles">Seychelles</option>
                                 <option value="Sierra Leone">Sierra Leone</option>
                                 <option value="Singapore">Singapore</option>
                                 <option value="Slovakia">Slovakia</option>
                                 <option value="Slovenia">Slovenia</option>
                                 <option value="Solomon Islands">Solomon Islands</option>
                                 <option value="Somalia">Somalia</option>
                                 <option value="South Africa">South Africa</option>
                                 <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
                                 <option value="Spain">Spain</option>
                                 <option value="Sri Lanka">Sri Lanka</option>
                                 <option value="Sudan">Sudan</option>
                                 <option value="Suriname">Suriname</option>
                                 <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                                 <option value="Swaziland">Swaziland</option>
                                 <option value="Sweden">Sweden</option>
                                 <option value="Switzerland">Switzerland</option>
                                 <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                                 <option value="Taiwan">Taiwan</option>
                                 <option value="Tajikistan">Tajikistan</option>
                                 <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                                 <option value="Thailand">Thailand</option>
                                 <option value="Timor-leste">Timor-leste</option>
                                 <option value="Togo">Togo</option>
                                 <option value="Tokelau">Tokelau</option>
                                 <option value="Tonga">Tonga</option>
                                 <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                                 <option value="Tunisia">Tunisia</option>
                                 <option value="Turkey">Turkey</option>
                                 <option value="Turkmenistan">Turkmenistan</option>
                                 <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                                 <option value="Tuvalu">Tuvalu</option>
                                 <option value="Uganda">Uganda</option>
                                 <option value="Ukraine">Ukraine</option>
                                 <option value="United Arab Emirates">United Arab Emirates</option>
                                 <option value="United Kingdom">United Kingdom</option>
                                 <option value="United States">United States</option>
                                 <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                                 <option value="Uruguay">Uruguay</option>
                                 <option value="Uzbekistan">Uzbekistan</option>
                                 <option value="Vanuatu">Vanuatu</option>
                                 <option value="Venezuela">Venezuela</option>
                                 <option value="Viet Nam">Viet Nam</option>
                                 <option value="Virgin Islands, British">Virgin Islands, British</option>
                                 <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                                 <option value="Wallis and Futuna">Wallis and Futuna</option>
                                 <option value="Western Sahara">Western Sahara</option>
                                 <option value="Yemen">Yemen</option>
                                 <option value="Zambia">Zambia</option>
                                 <option value="Zimbabwe">Zimbabwe</option>
                           </select>
                           </div>
                           <div class="col-md-3">
                              <label class="small mb-1" for="inputEmailAddress">Email address</label>
                           </div>
                           <div class="col-md-8" style="margin-bottom: 4%;">
                              <input class="form-control" id="inputEmailAddress" type="email" placeholder="" value="{{email}}"  readonly>
                           </div>
                           <div class="col-md-3">
                              <label class="small mb-1" for="inputPhone">Phone</label><br>
                           </div>
                           <div class="col-md-8" style="margin-bottom: 4%;">
                              <input class="form-control" id="inputPhone" type="tel" placeholder="enter phone number" value="{{phone}}" name="phone">
                           </div>
                        </div>
                     </div>
                     <div style="border: 1px solid #e4e6eb;border-top: none; padding: 20px;">
                        <div class="col-md-12  offset-md-9">
                           <button class="btn btn-success"  type="submit">Save changes</button>
                        </div>
                     </div>
                  </form>
            </div>

            <div class="col-md-6" style="display: none;" id="ChangePassword" >
               <div class="d-flex" style="border: 1px solid #e4e6eb;padding: 20px;border-bottom: none; margin-top: 5%;">
                  Change Password
                  <p style="text-align: right;">Forget</p>
               </div>
               <form method="post" action="{% url 'login:profile_password' %}" id="passwordForm">
               {% csrf_token %}
                  <div style="border: 1px solid #e4e6eb;padding: 20px;">
                     <div class="row">
                        <div class="col-md-3">
                           <label class="small mb-1" for="currentPassword">Current Password<span style="color: red !important; display: inline; float: none;">*</span> </label>
                        </div>
                        <div class="col-md-8" style="margin-bottom: 4%;">
                           <input class="form-control" id="currentPassword" type="password" placeholder="Enter current password" name="currentPassword">
                           <div id="username-check" style="color: red;"></div>
                        </div>
                        <div class="col-md-3">
                           <label class="small mb-1" for="newPassword">New Password<span style="color: red !important; display: inline; float: none;">*</span> </label>
                        </div>
                        <div class="col-md-8" style="margin-bottom: 4%;">
                           <input class="form-control" id="newPassword" type="password" placeholder="Enter new password" name="new_password1">
                           <p id="strengthText"></p>
                        </div>
                        <div class="col-md-3">
                           <label class="small mb-1" for="confirmPassword">Confirm Password<span style="color: red !important; display: inline; float: none;">*</span> </label>
                        </div>
                        <div class="col-md-8" style="margin-bottom: 4%;">
                           <input class="form-control" id="confirmPassword" type="password" placeholder="Confirm new password" name="new_password2">
                           <p id="matchText"></p>
                        </div>
                     </div>
                  </div>
                  <div style="border: 1px solid #e4e6eb;border-top: none; padding: 20px;">
                     <div class="col-md-12  offset-md-9">
                        <button class="btn btn-success" type="submit" id="registerButton">Save Password</button>
                     </div>
                  </div>
               </form>
            </div>

            <div class="col-md-6" style="display: none;" id="DeleteAccount">
               <div style="border: 1px solid #e4e6eb;padding: 20px;border-bottom: none; margin-top: 5%;">
                  Account Deactivation
               </div>
               <form method="post" action="{% url 'login:profile_password' %}" id="passwordForm">
               {% csrf_token %}
                  <div style="border: 1px solid #e4e6eb;padding: 20px;">
                     <div class="row">
                        <div class="col-md-11">
                           <p>Deleting your account is a permanent action and cannot be undone. If you are sure you want to delete your account, select the button below.</p>
                        </div>
                     </div>
                  </div>
                  <div style="border: 1px solid #e4e6eb;border-top: none; padding: 20px;">
                     <div class="col-md-12  offset-md-9">
                        <form method="post" action="{% url 'login:delete_account' %}">
                           {% csrf_token %}
                           <button type="submit" class="btn btn-danger-soft text-danger">Yes, delete my account</button>
                       </form>
                     </div>
                  </div>
               </form>
            </div>
         </div>



      </div>

      <footer class="footer_section position-relative" style="background-color: black;margin-top: 7%;">
         <div class="footer_section_wrap sec_top_space_50"
            style="background-image: url(static/home/assets/images/footer/footer.png)">
            <div class="container">
               <div
                  class="footer_top_content d-flex flex-column flex-lg-row justify-content-between align-items-center">
                  <div class="footer_top_logo">
                     <!-- <a href="shop-list-sidebar.html"><img src="static/home/assets/images/logo/logo2.png" alt="image_not_found"></a> -->
                     <a href="" style="text-decoration: none;"><h1 style="color: #fff;">GCloud</h1></a>
                  </div>
                  <div class="footer_top_subs position-relative">
                     <input class="rounded-pill" type="search" name="search" placeholder="Your Phone Number">
                     <a href="#!"><button type="button"
                           class="btn custom_btn rounded-pill text-white position-absolute">Subscribe Now <i
                              class="fas fa-long-arrow-alt-right"></i></button></a>
                  </div>
                  <div class="footer_top_social">
                     <ul class="list-unstyled d-flex justify-content-end">
                        <li class="me-3"><a href="#!"><i class="fab fa-twitter"></i></a></li>
                        <li class="me-3"><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="me-3"><a href="#!"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#!"><i class="fab fa-google-plus-g"></i></a></li>
                     </ul>
                  </div>
               </div>
               <div class="footer_inner_content sec_space_xs_70">
                  <div class="footer_inner_content_wrap">
                     <div class="row">
                        <div class="col-md-6 col-lg-3">
                           <div class="footer_inner_choose_content">
                              <div class="footer_inner_choose_title">
                                 <h4>
                                    <a href="#!" class="text-white">Why People Like us</a>
                                 </h4>
                              </div>
                              <div class="footer_inner_choose_desc pt-2">
                                 <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                    ut aliquip ex ea
                                    commodo. Build your online store with WooCommerce the most popular </p>
                              </div>
                              <div class="footer_inner_choose">
                                 <a href="#!"><button type="button"
                                       class="btn custom_btn rounded-pill px-4 text-white">View More <i
                                          class="fas fa-long-arrow-alt-right"></i></button></a>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                           <div class="footer_inner_info_content">
                              <div class="footer_inner_info_title">
                                 <h4>
                                    <a href="#!" class="text-white">Information</a>
                                 </h4>
                              </div>
                              <div class="footer_inner_info_item pt-2">
                                 <ul class="list-unstyled">
                                    <li><a href="#!">About Us</a></li>
                                    <li><a href="#!">Delivery Information</a></li>
                                    <li><a href="#!">Privacy Policy</a></li>
                                    <li><a href="#!">Terms & Conditions</a></li>
                                    <li><a href="#!">Return Policy</a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                           <div class="footer_inner_acct_content">
                              <div class="footer_inner_acct_title">
                                 <h4>
                                    <a href="#!" class="text-white">My Account</a>
                                 </h4>
                              </div>
                              <div class="footer_inner_acct_item pt-2">
                                 <ul class="list-unstyled">
                                    <li><a href="#!">My Account</a></li>
                                    <li><a href="#!">Shopping Cart</a></li>
                                    <li><a href="#!">Wishlist</a></li>
                                    <li><a href="#!">Order History</a></li>
                                    <li><a href="#!">International Orders</a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                           <div class="footer_inner_cotc_content">
                              <div class="footer_inner_ctc_title">
                                 <h4>
                                    <a href="#!" class="text-white">Contact Us</a>
                                 </h4>
                              </div>
                              <div class="footer_inner_ctc_info pt-2 text-white">
                                 <p>Address: <font>1429 Netus Rd, NY 48247</font>
                                 </p>
                                 <p>Email: <font>Organi@gmail.com</font>
                                 </p>
                                 <p>Phone: <font>(+87) 4886-4174</font>
                                 </p>
                                 <div class="footer_inner_payment_ctc">
                                    <div class="footer_inner_payment_title">
                                       <h5 class="text-white">Payment Accepted</h5>
                                    </div>
                                    <div class="footer_inner_payment_thumb pt-3">
                                       <a href="#!"><img src="static/home/assets/images/payment/payment.png"
                                             alt="image_not_found"></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="footer_bootom_content">
                  <div class="footer_bootom_wrap">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="footer_bootom_copyright">
                                 <p>Copyright © 2022 <font>ORGANI</font> Inc. All rights reserved.</p>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="footer_bootom_privicy_cont d-flex justify-content-center align-items-center">
                                 <div class="footer_bootom_privicy pe-5">
                                    <a href="#!">
                                       <p class="priv position-relative">Privacy Policy</p>
                                    </a>
                                 </div>
                                 <div class="footer_bootom_terms pe-5">
                                    <p class="position-relative">Terms of Use</p>
                                 </div>
                                 <div class="footer_bootom_refunds">
                                    <p>Sales and Refunds</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>

   </div>


   <!-- body wrap end -->



   

   <!-- <script src="static/home/assets/js/signinSignup.js"></script> -->
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>


   <!-- Include jquery js -->
   <script src="{%static 'home/assets/js/jquery.min.js' %}"></script>

   <!-- Include bootstrap-bundle js -->
   <script src="{%static 'home/assets/js/bootstrap.bundle.min.js' %}"></script>

   <!-- Include aos js -->
   <script src="{%static 'home/assets/js/jquery-ui.js' %}"></script>

   <!-- Include aos js -->
   <script src="{%static 'home/assets/js/aos.js' %}"></script>

   <!-- Include jquery-magnific-popup js -->
   <script src="{%static 'home/assets/js/magnific-popup.min.js' %}"></script>

   <!-- Include nice-select js -->
   <script src="{%static 'home/assets/js/nice-select.min.js' %}"></script>

   <!-- Include jquery-countdown js -->
   <script src="{%static 'home/assets/js/countdown.min.js' %}"></script>

   <!-- Include slick js -->
   <script src="{%static 'home/assets/js/slick.min.js' %}"></script>

   <!-- Include custom js -->
   <script src="{%static 'home/assets/js/custom.js' %}"></script>

   <script src="{%static 'home/assets/js/homeCategories.js' %}"></script>

   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>


 
<script>
   function personalDetails(){
    document.getElementById("PersonalDetails").style.display = "block" ;
    document.getElementById("ChangePassword").style.display = "none" ;
    document.getElementById("DeleteAccount").style.display = "none" ;
    document.getElementById("liPersonalDetails").style.color = "green" ;
    document.getElementById("liChangePassword").style.color = "black" ;
    document.getElementById("liDeleteAccount").style.color = "black" ;
  }

  function changePassword(){
    document.getElementById("ChangePassword").style.display = "block" ;
    document.getElementById("DeleteAccount").style.display = "none" ;
    document.getElementById("PersonalDetails").style.display = "none" ;
    document.getElementById("liChangePassword").style.color = "green" ;
    document.getElementById("liDeleteAccount").style.color = "black" ;
    document.getElementById("liPersonalDetails").style.color = "black" ;
  }

  function deleteAccount(){
    document.getElementById("DeleteAccount").style.display = "block" ;
    document.getElementById("PersonalDetails").style.display = "none" ;
    document.getElementById("ChangePassword").style.display = "none" ;
    document.getElementById("liDeleteAccount").style.color = "green" ;
    document.getElementById("liPersonalDetails").style.color = "black" ;
    document.getElementById("liChangePassword").style.color = "black" ;
  }
</script>
   
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function() {
        // Function to check current password
        function checkCurrentPassword() {
            var currentPassword = $('#currentPassword').val();
            var errorMessage = $('#username-check');

            if (currentPassword) {
                $.ajax({
                    type: "GET",
                    url: "{% url 'login:check_currentpassword' %}",
                    data: {'password': currentPassword},
                    dataType: 'json',
                    success: function(data) {
                        if (!data.available) {
                            errorMessage.text('Valid old password');
                            errorMessage.css('color', 'green');
                        } else {
                            errorMessage.text('Invalid old password');
                            errorMessage.css('color', 'red');
                        }
                        updateSubmitButtonState();
                    }
                });
            } else {
                errorMessage.text('');
                updateSubmitButtonState();
            }
        }

        // Function to check password strength
        function checkPasswordStrength() {
            var password = $('#newPassword').val();
            var strengthText = $('#strengthText');

            var missingCriteria = [];
            if (!/[A-Z]/.test(password)) missingCriteria.push('A-Z');
            if (!/[a-z]/.test(password)) missingCriteria.push('a-z');
            if (!/\d/.test(password)) missingCriteria.push('0');
            if (!/[!@#$%^&*(),.?":{}|<>]/.test(password)) missingCriteria.push('@');
            if (password.length < 8) missingCriteria.push('8 digits');

            strengthText.text(missingCriteria.length > 0 ? 'Password must have: ' + missingCriteria.join(', ') : '');
            updateSubmitButtonState();
        }

        // Function to check password match
        function checkPasswordMatch() {
            var password = $('#newPassword').val();
            var confirmPassword = $('#confirmPassword').val();
            var matchText = $('#matchText');

            matchText.text(password !== confirmPassword ? 'Passwords do not match' : '');
            updateSubmitButtonState();
        }

        // Function to update submit button state
        function updateSubmitButtonState() {
            var errorMessage = $('#username-check');
            var strengthText = $('#strengthText');
            var matchText = $('#matchText');
            var registerButton = $('#registerButton');
            var currentPassword = $('#currentPassword').val();
            var newPassword = $('#newPassword').val();
            var confirmPassword = $('#confirmPassword').val();

            // Enable submit button only if there are no error messages and all input boxes are not empty
            if (
                errorMessage.text() === 'Valid old password' &&
                strengthText.text() === '' &&
                matchText.text() === '' &&
                currentPassword !== '' &&
                newPassword !== '' &&
                confirmPassword !== ''
            ) {
                registerButton.prop('disabled', false);
            } else {
                registerButton.prop('disabled', true);
            }
        }

        // Attach event listeners
        $('#currentPassword').on('input', checkCurrentPassword);
        $('#newPassword').on('input', checkPasswordStrength);
        $('#confirmPassword').on('input', checkPasswordMatch);

        // Disable submit button initially
        updateSubmitButtonState();
    });
</script>
   

</body>

</html>