<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<!-- <style>
    h1{
        font-size: 65px;
        font-weight: bold;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    h4{
        font-weight: bold;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    li{
        margin-bottom: 2%;
    }
</style> -->

<body>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #fff;"> -->
<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #fff;"></nav>
    <div class="container">
        <a class="navbar-brand" href="#"><h2 style="font-weight: bold;color:black;">GCloud</h2></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <div class="d-flex">
                <button class="btn btn-outline-dark" type="submit">Login</button>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid" style="background-color: #f1eeee;">
    <div >
        <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div>
                        <h1 style="font-size: 70px;">Everything you need to get creative projects done</h1>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-1"></div>
                <div class="col-md-8">
                    <h3 style="margin-top: 35px;opacity: 0.8;">
                        Bring your ideas to life with professional digital assets, resources and services
                    </h1>
                </div>
        </div>
        <div class="row" style="margin-top: 50px;margin-bottom: 100px;">
            <div class="col-md-6" style="border-right: 2px solid rgb(172, 167, 167);">
                <h3 style="text-align: center;font-weight: bold;">GCloud</h3>
                <h3 style="text-align: center;font-weight: bold;">Find the perfect asset from <br>the world's leading creative <br>marketplace</h3>
            </div>
            <div class="col-md-6" style="margin-bottom: 100px;">
                <h3 style="text-align: center;font-weight: bold;">GCloud</h3>
                <h3 style="text-align: center;font-weight: bold;">Create mockups, logos,<br> social posts and videos in<br> seconds</h3>
            </div>
        </div>
    </div>
</div>


  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!-- <img src="..." class="d-block w-100" alt="..."> -->
        <h3 style="text-align: center;">website themes and creative assets<br>
            to build our news content platform, UrbanGeekz.com.<br>
            live website. I love the way Envato keeps us informed about <br>
            theme updates and new tre</h3>
      </div>
      <div class="carousel-item">
        <!-- <img src="..." class="d-block w-100" alt="..."> -->
        <h3 style="text-align: center;">website themes and creative assets<br>
            to build our news content platform, UrbanGeekz.com.<br>
            live website. I love the way Envato keeps us informed about <br>
            live website. I love the way Envato keeps us informed about <br>
            live website. I love the way Envato keeps us informed about <br>
            live website. I love the way Envato keeps us informed about <br>
            theme updates and new tre</h3>
      </div>
      <div class="carousel-item">
        <!-- <img src="..." class="d-block w-100" alt="..."> -->
        <h3 style="text-align: center;">website themes and creative assets<br>
            to build our news content platform, UrbanGeekz.com.<br>
            theme updates and new tre</h3>
      </div>
    </div>
  </div>

<div class="container">
    <div class="row" style="margin-top: 200px;">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div>
                <h4>
                    With offices in Melbourne and Guadalajara, our Envato team passionately supports millions of digital creatives around the world.
                </h4>
            </div>
            <br><br>
            <div>
                <h5 style="opacity: 0.8;">
                    We’re a team that knows creativity doesn’t just happen; it takes passion and a lot of hard work. That’s why we’re committed to making it easier for people to get their creative projects done, driven by a positive purpose and a shared set of values that puts our community at the heart of everything we do.
                </h5>
            </div>
        </div>
    </div>
</div>

  
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

</body>
</html>