{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Shop List Sidebar - Organic - Food E-commerce HTML Template</title>
   <!-- favicon icon -->
   <link rel="shortcut icon" href="static/home/assets/images/icons/favicon.ico" type="image/x-icon">

   <!-- Include fontawesome cdn -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

   <!-- Include google fonts -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet">
 <!-- Include jQuery -->
 <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
   <!-- Include bootstrap CSS -->
   <link rel="stylesheet" href="static/home/assets/css/bootstrap.min.css">

   <!-- Include aos CSS -->
   <link rel="stylesheet" href="static/home/assets/css/aos.css">

   <!-- Include magnific-popup CSS -->
   <link rel="stylesheet" href="static/home/assets/css/magnific-popup.css">

   <!-- Include nice-select CSS -->
   <link rel="stylesheet" href="static/home/assets/css/nice-select.css">

   <!-- Include slick CSS -->
   <link rel="stylesheet" href="static/home/assets/css/jquery-ui.css">

   <!-- Include slick-theme CSS -->
   <link rel="stylesheet" href="static/home/assets/css/slick-theme.css">

   <!-- Include slick CSS -->
   <link rel="stylesheet" href="static/home/assets/css/slick.css">

   <!-- Include stylesheet CSS -->
   <link rel="stylesheet" href="static/home/assets/css/styles.css">
   <link rel="stylesheet" href="static/home/assets/css/stylenew.css">

</head>

<body>

<div class="body-wrap overflow-hidden">
      <!-- back-to-top start -->
      <div class="backtotop">
         <a href="#!" class="scroll">
            <i class="far fa-arrow-up fw-bold"></i>
         </a>
      </div>
      <!-- back-to-top end -->


      <!-- header section start -->
      <header class="about_header position-relative" style="background-color: #1d211e;">
         <!-- top header start -->
         <div class="top_header_main position-relative bg-dark">
            <div class="container d-none d-md-block">
               <div class="header_top d-flex align-items-center justify-content-between">
                  <div class="header_top_content d-flex pt-2">
                  </div>
               </div>
            </div>
            <!-- top header end -->

            <!-- top inner navbar start -->
            <div class="top_inner_main" style="background-color: #1d211e;">
               <div class="top_inner_wrap">
                  <div class="container">
                     <div
                        class="top_inner_content about_inner_cont d-flex justify-content-between align-items-center py-3" >
                        <div class="top_inner_logo d-flex justify-content-between align-items-center" >
                           <a class="drop_bars text-dark me-4" href="#!" data-bs-toggle="offcanvas"
                              data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"
                              aria-expanded="false" aria-label="Toggle navigation">
                              <i class="fas fa-bars" style="color: #fff;"></i>
                           </a>
                           <a href=""><h1 style="color: #fff;">GCloud</h1>
                           </a>
                        </div>
                        <div class="top_inner_searchbar about_search position-relative d-none d-lg-block">
                        </div>
                        <div class="main_search_btn3 d-block d-lg-none ms-auto me-3" data-bs-toggle="collapse"
                           data-bs-target="#main_search_collapse" aria-expanded="false"
                           aria-controls="main_search_collapse">
                        </div>

                        {% if user.is_authenticated %}
                        <div class="navbar_user me-2">
                           <div class="navbar_user_icon">
                              <ul class="list-unstyled d-flex mb-0">
                                 <li class="pe-3 position-relative">
                                    <a href="#collapseExample" data-bs-toggle="collapse" href="#collapseExample"
                                       role="button" aria-expanded="false" aria-controls="collapseExample"><i
                                          class="far fa-user" data-toggle="collapse" role="button"
                                          data-target="#use_deropdown" aria-expanded="false"
                                          aria-controls="use_deropdown"></i>
                                    </a>
                                    <!-- user profile start -->
                                    
                                    <div id="collapseExample" class="collapse_dropdown collapse">
                                       <div class="dropdown_content">
                                          <div class="profile_info clearfix">
                                             <div class="user_thumbnail">
                                                <img src="static/home/assets/images/meta/meta1.png" alt="image_not_found">
                                             </div>
                                             <div class="user_content">
                                                <h4 class="user_name"> {{ name }}</h4>
                                             </div>
                                          </div>
                                          <ul class="settings_options ul_li_block clearfix">
                                             <li><a href="{% url 'login:profile_page' %}"><i class="fas fa-user-circle"></i>
                                                   Profile</a></li>
                                             <li><a href="{% url 'login:logout' %}"><i class="fas fa-sign-out-alt"></i>
                                                   Logout</a></li>
                                          </ul>
                                       </div>
                                    </div>
                                 </li>
                                 <!-- <li class="pe-3"><a href="#!"><i class="far fa-heart"></i></a></li>
                                 <li><a href="#!"><i class="fas fa-shopping-bag position-relative"
                                          data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                          aria-controls="offcanvasRight"><span
                                             class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"></span></i></a>
                                 </li> -->
                              </ul>
                           </div>
                        </div>
                        {% else %}
                        <div class="navbar_user me-2">
                           <div class="navbar_user_icon">
                              <ul class="list-unstyled d-flex mb-0">
                                 <li class="pe-3 position-relative">
                                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#loginModal" style="text-decoration: none;color:#6c747a;background-color:#363836; display: inline-block; padding-left: 18px;padding-right: 18px;  text-align: center; line-height: 40px;">
                                       Signin
                                     </button>
                                    <!-- <a href="{% url 'login:signin' %}" style="text-decoration: none;color:#6c747a;background-color:#363836; display: inline-block; padding-left: 18px;padding-right: 18px;  text-align: center; line-height: 50px;">Sign-in</a> -->
                                    <!-- <a href="{% url 'login:signin' %}" style="text-decoration: none;color: #000;background-color: #fff;display: inline-block; width: 50px; height: 50px; border: 2px solid #000; border-radius: 50%; text-align: center; line-height: 50px;">Login </a>--->
                                 </li>
                              </ul>
                           </div>
                        </div>
                        {% endif %}
                     </div>
                     <!-- mobile menubar start -->
                     <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                        id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel" style="background-color: #1d211e;">
                        <div class="offcanvas-header">
                           <button type="button" class="btn-close mobile_menu_close text-reset"
                              data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                           <ul class="navbar-nav main_menu_list m-auto">
                              <li class="nav-item pe-4 dropdown" >
                                 <a class="nav-link active" aria-current="page" href="#" id="home_submenu" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false" >Home</a>
                              </li>
                              <li class="nav-item pe-4 dropdown">
                                 <a class="nav-link" href="#" id="shop_submenu" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">Shop</a>
                              </li>
                              <li class="nav-item pe-4 dropdown">
                                 <a class="nav-link" href="#" id="blog_submenu" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">Blog</a>
                              </li>
                              <li class="nav-item pe-4 dropdown">
                                 <a class="nav-link" href="#!">Portfolio</a>
                              </li>
                              <li class="nav-item pe-4 dropdown">
                                 <a class="nav-link" href="#" id="page_submenu" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">Pages</a>
                              </li>
                              <li class="nav-item pe-4 dropdown">
                                 <a class="nav-link" href="#" id="contact_submenu" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">Contacts</a>
                              </li>
                           </ul>
                        </div>

                     </div>
                  </div>
               </div>
            </div>
            <!-- top inner navbar end -->

            <!-- bottom header start -->
            <div class="header_bottom_main header_border position-relative d-none d-lg-block" style="background-color: #1d211e;">
               <div class="container" >
                  <nav class="navbar navbar-expand-lg navbar-dark" >
                     <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                     </button>
                     <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                        <ul class="navbar-nav navbar_4 main_menu_list after_navbar">
                           <li class="nav-item nav_item_has_child px-2 dropdown">
                              <a class="nav-link active" aria-current="page" href="#" id="home_submenu" role="button"
                                 data-bs-toggle="dropdown" aria-expanded="false">Home</a>
                           </li>
                           <li class="nav-item nav_item_has_child px-2 dropdown">
                              <a class="nav-link" href="#" id="shop_submenu" role="button" data-bs-toggle="dropdown"
                                 aria-expanded="false">Shop</a>

                           </li>
                           <li class="nav-item nav_item_has_child px-2 dropdown">
                              <a class="nav-link" href="#" id="blog_submenu" role="button" data-bs-toggle="dropdown"
                                 aria-expanded="false">Blog</a>
                           </li>
                           <li class="nav-item nav_item_has_child px-2">
                              <a class="nav-link" href="#!">Portfolio</a>
                           </li>
                           <li class="nav-item nav_item_has_child px-2 dropdown">
                              <a class="nav-link" href="#" id="page_submenu" role="button" data-bs-toggle="dropdown"
                                 aria-expanded="false">Pages</a>  
                           </li>          
                  </nav>
               </div>
            </div>
      </header>


      <section class="shop_list_sidebar sec_space_large" id="normal-show" style="display:none;margin-top: 40px;padding-top: 0%;">
            <div class="shop_sidebar_wrap">
               <div class="containerfluid">
                  <div class="row">
                     <div class="col-lg-3">
                        <!-- blog category start -->
                        <div class="blog_category" data-aos="fade-up" data-aos-duration="2000" style="background-color: #fff;margin-top: 65px;">
                           <div class="blog_category_wrap">
                              <h3 class="blog_category_title py-3">Categories</h3>
                              <div class="blog_category_item">
                                 <!-- <div class="row">
                                    <div class="form-check">
                                       <div class="col">
                                          <li class="button all active">
                                             <button class="" data-category="all" style="border: 0px;">All</button>
                                          </li>
                                          </div>
                                          {% for category in normal_template_categories %}
                                          <div class="col">
                                             <li class="button {{ category|lower }}" >
                                                <button class=""  style="border: 0px;">{{ category }}</button>
                                             </li>
                                          </div>
                                          {% endfor %}
                                    </div>
                                 </div> -->
                                 
                                 <div class="row">
                                    <div class="form-check">
                                        <div class="col" style="list-style: none;">
                                            <li class="button all">
                                                <button class="btnxn categorywise_list_show activn" type="button" data-category="all"style="width: 100%;">All</button>
                                            </li>
                                        </div>
                                        {% for category in template_categories %}
                                        <div class="col" style="list-style: none;">
                                            <li class="button {{ category|lower }}" >
                                                <button class="btnxn categorywise_list_show" type="button" data-category="{{ category }}" style="width: 100%;">{{ category }}</button>
                                            </li>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                              </div>
                           </div>
                        </div>
                        <!-- blog category end -->

                     </div>
                     <div class="col-lg-8">
                        <!-- shop list section start -->
                        <section class="shop_list_sec" data-aos="fade-up" data-aos-duration="2000">
                           <div class="shop_list_wrap">
                               <div class="containerfluid">
                                   <div class="filter_area d-flex justify-content-between align-items-center mb_30">
                                       <ul class="nav layout_tab_nav ul_li" role="tablist">
                                           <li>
                                             <button class="active" data-bs-toggle="tab" data-bs-target="#list_layout" type="button" role="tab" aria-selected="false">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 12 12">
                                               <path id="list" class="cls-1"
                                                  d="M1823,905h2v2h-2v-2Zm5,0h2v2h-2v-2Zm5,0h2v2h-2v-2Zm-10,5h2v2h-2v-2Zm5,0h2v2h-2v-2Zm5,0h2v2h-2v-2Zm-10,5h2v2h-2v-2Zm5,0h2v2h-2v-2Zm5,0h2v2h-2v-2Zm-5-10h7v2h-7v-2Zm0,5h7v2h-7v-2Zm0,5h7v2h-7v-2Z"
                                                  transform="translate(-1823 -905)" />
                                            </svg>
                                         </button>
                                         </li>
                                         <li>
                                          <button data-bs-toggle="tab" data-bs-target="#grid_layout" type="button" role="tab" aria-selected="true">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 12 12">
                  
                                          <path id="grid" class="cls-1"
                                             d="M1784,905h2v2h-2v-2Zm5,0h2v2h-2v-2Zm5,0h2v2h-2v-2Zm-10,5h2v2h-2v-2Zm5,0h2v2h-2v-2Zm5,0h2v2h-2v-2Zm-10,5h2v2h-2v-2Zm5,0h2v2h-2v-2Zm5,0h2v2h-2v-2Z"
                                             transform="translate(-1784 -905)" />
                                          </svg>
                                       </button> 
                                       </li>
                                       <!-- <span class="show_result">Showing 1–18 of 24 results</span> -->
                                    </ul>
                                 </div>
                                 <div class="shop_product_list">
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade" id="grid_layout" role="tabpanel" aria-labelledby="pills-grid_layout-tab">
                                          <div class="row g-4">
                                             {% for p in premium %}
                                             <div class="col-sm-6 col-lg-4 normal-category-item {{ p.category|lower }} card1 ">
                                                <div class="product_layout_1 overflow-hidden position-relative">
                                                   <div class="product_layout_content bg-white position-relative">
                                                      <div class="product_image_wrap">
                                                         <a class="product_image d-flex justify-content-center align-items-center"
                                                            href="{% url 'mainapp:temp_view' p.id %}" style="margin-top: 0px;padding-top: 0px;">
                                                            <img class="pic-1" src="{{ p.temp_img.url }}"
                                                               alt="image_not_found">
                                                            <img class="pic-2" src="{{p.temp_img.url}}"
                                                            alt="image_not_found">
                                                         </a>
                                                      </div>
                                                      <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="rating_wrap d-flex">
                                                                <ul class="rating_star ul_li">
                                                                   <li class="active"><i class="fas fa-star"></i></li>
                                                                   <li class="active"><i class="fas fa-star"></i></li>
                                                                   <li class="active"><i class="fas fa-star"></i></li>
                                                                   <li class="active"><i class="fas fa-star"></i></li>
                                                                   <li><i class="far fa-star"></i></li>
                                                                </ul>
                                                                <span class="shop_review_text">( 4.0
                                                                   )</span>
                                                             </div>
                                                             <div class="product_content">
                                                                <h3 class="product_title">
                                                                   <a href="" target="_blank">Organic
                                                                      Cabbage</a>
                                                                </h3>
                                                                <div class="product_price">
                                                                   <span class="sale_price pe-1">$50.00</span>
                                                                   <del>$65.00</del>
                                                                </div>
                                                             </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <a href="{% url 'mainapp:temp_view' p.id %}" style="text-decoration: none;">
                                                               <button type="button" class="btn btn-lg preview_button" style="font-size: 13px;position: absolute;bottom: 5px;">Live preview</button>
                                                            </a>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             {% endfor %}
                                          </div>
                                       </div>
                                       <!-- list layout start  -->
                                       <div class="tab-pane fade show active" id="list_layout" role="tabpanel" aria-labelledby="pills-list_layout-tab">
                                          <div class="row g-3">
                                             {% for p in premium %}
                                             <div class="col p-0  normal-list-item {{ p.category|lower }}">
                                                <div class="list_layout_wrap overflow-hidden  ">
                                                   <div
                                                      class="list_layout_content bg-white d-flex justify-content-between align-items-center">
                                                      <div class="col-lg-5  ">
                                                         <a class="list_layout_thumb d-flex justify-content-start"
                                                            href="{% url 'mainapp:temp_view' p.id %}">
                                                            <img src="{{p.temp_img.url}}"
                                                               alt="image_not_found">
                                                         </a>
                                                      </div>
                                                      <div class="col-lg-4">
                                                        <h6>{{p.name}}   -   Multipurpose Responsive Website.</h4>                                                         
                                                        <div class="product_content">
                                                            <!-- <p class="list_layout_desc">Apparently
                                                                we had reached a great height in the
                                                                </p> -->
                                                            <ul class="product_action_btns ul_li_block" style="font-size: 13px;;">
                                                                <li>Apparentlywe had reached a great</li>
                                                                <li>Apparentlywe had reached a great</li>
                                                                <li>Apparentlywe had reached a great</li>
                                                            </ul>
                                                        </div>
                                                      </div>
                                                      <div class="col-lg-3 text-center" style="border-left: 1px solid #000;">
                                                        <ul class="list_layout_bade list-unstyled d-flex text-center justify-content-center" >
                                                           <li >
                                                              <!-- <span class="badge_meats rounded-pill text-uppercase">{{a.price}}</span> -->
                                                              <div class="product_price">
                                                                 <span class="sale_price pe-1">$50.00</span>
                                                                 <!-- <del>$65.00</del> -->
                                                              </div>
                                                           </li>
                                                           <li><span
                                                                 class="badge_discount text-white rounded-pill">-27%</span>
                                                           </li>
                                                        </ul>
                                                        <div class="rating_wrap d-flex justify-content-center">
                                                           <ul class="rating_star ul_li">
                                                              <li class="active"><i class="fas fa-star"></i>
                                                              </li>
                                                              <li class="active"><i class="fas fa-star"></i>
                                                              </li>
                                                              <li class="active"><i class="fas fa-star"></i>
                                                              </li>
                                                              <li class="active"><i class="fas fa-star"></i>
                                                              </li>
                                                              <li><i class="far fa-star"></i></li>
                                                           </ul>
                                                           <span class="shop_review_text">( 4.0
                                                              )</span>
                                                        </div><br><br>
                                                        <!-- <p class="list_layout_desc">Apparently
                                                           we had reached a great height in the
                                                           atmosphere, for the sky was a dead
                                                           black, and the stars had ceased to
                                                           twinkle.</p> -->
                                                           <a href="{% url 'mainapp:temp_view' p.id %}" style="text-decoration: none;">
                                                               <button type="button" class="btn btn-lg preview_button" style="font-size: 13px;position: relative;bottom: 5px;">Live preview</button>
                                                            </a>
                                                     </div>
                                                   </div>
                                                </div>
                                             </div>
                                             {% endfor %}
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <!-- <ul
                                    class="pagination_nav mt-5 list-unstyled d-flex justify-content-center text-uppercase clearfix">
                                    <li><a href="#!">1</a></li>
                                    <li><a href="#!">2</a></li>
                                    <li><a href="#!">3</a></li>
                                    <li class="active"><a href="#!"><i class="fas fa-arrow-right"></i></a>
                                    </li>
                                 </ul> -->
                              </div>
                           </div>
                        </section>
                        <!-- shop list section end -->
                     </div>
                  </div>
               </div>
            </div>
         </section>
</div>

</body>
</html>